typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
jest.config.js
*.vsix
.vscode
node_modules
out/**
tslint.json
.github/**
.circleci/**
BADGES.json
todo

package-json.lock

webpack.config.js